.about-me-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  
}

.about-me-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid #bababa;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  
}

.about-me-body::-webkit-scrollbar {
  display: none;
}

.about-me-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
 
  
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.about-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  
  
  
}

.my-photos {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  
}

@media screen and (max-width: 480px) {
  .about-me-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  
    
  }

  .about-me-body {
    border: none;
  }
}
