@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

.about-me-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
}

.about-me-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.about-me-body::-webkit-scrollbar {
  display: none;
}

.about-me-box {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.about-me-title {
  font-size: 20px;
  font-family: "Kalam", cursive;
  -webkit-filter: drop-shadow(-10px 0px 20px rgb(213, 176, 11));
  filter: drop-shadow(-10px 0px 10px rgb(213, 176, 11));
}

.text-container {
  display: flex;
  flex-direction: column;
  border: 6px solid rgb(255, 59, 102);
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px black;
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  border: 6px solid rgb(52, 214, 3);
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px black;
  font-family: "Kalam", cursive;
}

.about-title {
  -webkit-filter: drop-shadow(-10px 0px 20px rgb(255, 59, 102));
  filter: drop-shadow(-10px 0px 20px rgb(255, 59, 102));
}

.about-text {
  -webkit-filter: drop-shadow(-10px 0px 20px rgb(255, 59, 102));
  filter: drop-shadow(-10px 0px 20px rgb(255, 59, 102));
}

.about-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

.my-photos {
  width: 220px;
  height: 300px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .about-me-container {
    width: fit-content;
  }

  .about-me-body {
    width: fit-content;
    flex-direction: column;
  }

  .about-me-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }

  .text-container {
    width: fit-content;
  }

  .contact-container {
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 100px;
  }
}
