@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.education-container {
  display: flex;
  flex-direction: column;
  background-color: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;

}

.edu-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.education-title{
  font-size: 20px;
  font-family: 'Kalam', cursive;
  -webkit-filter: drop-shadow(-10px 0px 20px rgb(238, 0, 0));
  filter: drop-shadow(-10px 0px 20px rgb(238, 0, 0));
}


.education-body {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid black; */
}

.edu-left {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(12, 29, 120); */
  border: 6px solid rgb(96, 118, 241);
  color: rgb(0, 0, 0);
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px black;
  font-family: 'Kalam', cursive;

}

.edu-right {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(243, 126, 43); */
  border: 6px solid rgb(243, 126, 43);
  color: rgb(0, 0, 0);
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px black;
  font-family: 'Kalam', cursive;

}

.edu-text1{
  /* text-shadow: -1px -1px black; */
  -webkit-filter: drop-shadow(-10px 0px 10px rgb(96, 118, 241));
  filter: drop-shadow(-10px 0px 10px rgb(96, 118, 241));
}

.edu-text2{
  /* text-shadow: -1px -1px black; */
  -webkit-filter: drop-shadow(-10px 0px 10px rgb(243, 126, 43));
  filter: drop-shadow(-10px 0px 10px rgb(243, 126, 43));
}

.edu-card1 {
  -webkit-filter: drop-shadow(-10px 0px 10px rgb(96, 118, 241));
  filter: drop-shadow(-10px 0px 10px rgb(96, 118, 241));
}

.edu-card2 {
  -webkit-filter: drop-shadow(-10px 0px 20px rgb(243, 126, 43));
  filter: drop-shadow(-10px 0px 20px rgb(243, 126, 43));
}

.edu-icon {
  width: 100px;
}

.edu-icon1 {
  width: 250px;
}

.edu-text {
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width: 480px){
  .education-body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    width: fit-content;
  }

  .edu-left {
    width: fit-content;
    padding: 0px;
  }

  .edu-right {
    margin-top: 30px;
    width: fit-content;
    padding: 0px;
  }

  .education-title{
  text-align: center;
  }

  .education-container {
    display: flex;
    flex-direction: column;
    background-color: none;
    border-radius: 10px;
    padding: none;
    margin-top: 40px;
    width: fit-content;
   
  }

  .edu-body-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
  }

}
