.education-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.edu-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu-body-container::-webkit-scrollbar {
  display: none;
}

.education-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-left: 40px;
  flex-wrap: wrap;
}

.edu-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5px;
  flex-wrap: wrap;
}

.edu-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

.edu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edu-icon {
  width: 100px;
}

.edu-icon1 {
  width: 250px;
}

.vl {
  border-left: 1px solid #1eb022;
  height: 400px;
  padding-right: 10px;
  padding-left: 15px;
}

.edu-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
