


.header-link {
  text-decoration: none;
  color: white;
  margin: 15px;
  font-family: cursive;
}

.header-link:hover {
  color: red;
  
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-pic {
  width: 100px;
}

@media screen and (max-width: 480px){




}
