.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #bababa;
  background-color: white;
  border-radius: 10px;
  /* margin: 30px; */
  padding: 10px;
  height: 110vh;
  padding-bottom: 20px;
  
  
}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  
}

.port-youtube-video {
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .youtube-video{
    width: 420px;
    height: 300px;
  }

  .landing-container{
    border: none;
    /* margin-right: 20px; */
  }
  
}
