.work-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
    background-color: #4ab8e0;
    width: 100%;
    height: 4vh;
    color: white;
    margin-bottom: 5px;
}