@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");


.top-banner{
    display: flex;
    justify-content: center;
    background-color: #4ab8e0;
    height: 50px;
    align-items: center;
   
}

.banner-text{
    font-size: xx-large;
    color: white;
    font-family: "PT Sans Caption", sans-serif;
    
}

@media screen and (max-width: 480px){
    .top-banner{
        width: 460px;
    }
}