@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

.App {
  display: flex;
  flex-direction: column;
  background-color: #efd9ce;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 22px;
  box-shadow: 0px 0px 15px 1px rgb(255, 255, 255);
  font-family: "PT Sans Caption", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.App::-webkit-scrollbar {
  display: none;
}

.top-container {
  display: flex;
  flex-direction: row;
  flex: 2;
}
