body {
  background: rgba(24, 24, 24, 0.937);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px) {
  body {
    background-color: rgba(24, 24, 24, 0.937);
    color: rgb(255, 255, 255);
  }
}
